.dot:hover {
  stroke-width: 4;
  transition: 1000ms ease;
}
.italic {
  font-style: italic;
}
.scatter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
